body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10px;
    margin: 0px;
    padding: 0px;
}
header{
    height: 100px;
}
footer {
    background-color: rgb(98, 98, 133);
    text-align: center;
    margin-top: 20px;
}
nav{
    height: 50px;
    width: 100%;
    position: sticky;
    top: 0px;
    background-color: rgb(98, 98, 133);
}
   
ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: space-around;
}

nav a{
    display:inline-block;
    padding:15px 25px;
    font-size: 15px;
    text-decoration: none;
    color: aliceblue;
    text-transform: uppercase;
}
.logo{
    position: absolute; 
    left: 50%; 
    transform: translateX(-50%); 
    text-align: center;
    margin: 0;
    padding: 0;
    z-index: 10; 
}

p {
    padding-left: 2px;
    padding-right: 2px;
    font-size: 20px;
}
.images{
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 20px 10px;
}
footer {
    background-color: rgb(98, 98, 133);
    text-align: center;
    margin-top: 20px;
}
a:hover {
    color: hotpink;
    transform: scale(1.1); /* Zoom léger */
  }
footer p {
color: #f1f1f1;
}
footer .logor img {
    width: 50px; 
    height: 50px; 
    object-fit: contain; 
    margin: 5px; 
}
footer .logoinsta img {
width: 70px;
height: 70px;
}
.footer li{
    list-style-type: none;
    float: left;
}   
.footer ul {
    margin: 0px;
    padding: 0px
}






