
body {
  
    background-image: url('../image_sae/fond.jpg'); 
    background-size: cover; /*couvre l'écran */
    background-repeat: no-repeat; 
    background-attachment: fixed; /* fixe lors du défilement */
    background-position: center; 
    font-family: Arial, sans-serif;
    color: #333; 
    margin: 0;
    padding: 0;
}

/* Header */
.logo {
    width: 305px;
    margin-left: 35%;

}
header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    height: 100px;
}
a:hover {
    color: hotpink;
    transform: scale(1.1); /* Zoom léger */
  }

header img {
    max-width: 100%;
    height: auto;
}
nav{
    background-color: rgb(98, 98, 133);
    width: 100%;
}
nav li{
    list-style-type: none;
    float: left;
}   
nav ul {
    margin: 0px;
    padding: 0px
} 

.bandeau{
     display:table;
     margin: 0 auto;
}
nav a{
    display:inline-block;
    padding:15px 25px;
    font-size: 15px;
    text-decoration: none;
    color: aliceblue;
    text-transform: uppercase;
}

/* Section Hero */
.hero {
    text-align: center;
    margin: 20px 0;
}

.hero video {
    width: 100%;
    max-width: 900px;
    height: auto;
    border-radius: 10px;
}

/* Section Contenu */
.contenu {
    
   
    text-align: center;
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.8); /* Fond semi-transparent noir */
        border-radius: 10px; 
        width: 80%; /* Largeur limitée */
        
       
    margin: 20px auto; /* Centre la section */
    }
    
    .contenu h2 {
        font-size: 2rem;
        color: #ffffff; /* fond */
        
       
    margin-bottom: 15px;
    }
    
    .contenu p {
        font-size: 1.2rem;
        line-height: 1.6;
        margin: 10px 0;
        color: #ffffff;
    }

.infos {
   
    display: flex;
    justify-content: space-between; /* Espace entre les deux tableaux */
    align-items: flex-start;
    gap: 20px; /* Espace */
    margin-bottom: 20px; /* Espace sous la section */
}
.stats h2 {
    font-size: 2rem;
    color: #000000;
    margin-bottom: 20px;
    text-align: center;


}
.horaires h2 {
    font-size: 2rem;
    color: #000000;
    margin-bottom: 20px;
    text-align: center;
}

    
   

.stats, .horaires {
    flex: 1; 
    max-width: 45%; 
    text-align: center;
    border-radius: 10px; 
    padding: 10px; 
    box-sizing: border-box; 
    height: auto; 

}
.stats table, .horaires table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto; 
}

table {
    width: 100%; 
    border-collapse: collapse;
    margin-top: 0px;
}

th, td {
    border: 1px solid #ccc; 
    padding: 8px;
    text-align: left;
    background-color: #ffffffa9; 
}

thead {
    background-color: #f4f4f4; 
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    text-align: center;

}

.histoire {
    padding: 50px 20px; 
    background-color: #f9f9f9; 
    border-radius: 20px;
    margin: 20px auto;
    max-width: 1200px; 
}

.histoire h2 {
    text-align: center;
    font-size: 2.5rem; 
    color: #333333; 
    margin-bottom: 30px; 
    font-family: 'Georgia', serif; 
    text-transform: uppercase; 
    letter-spacing: 2px; 
}

.monument {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap; 
    justify-content: center; 
}

.texte {
    background-color: rgba(0, 0, 0, 0.8); /* Fond semi-transparent noir */
    color: #ffffff; 
    border-radius: 20px; 
    text-align: center;
    padding: 20px;
    max-width: 600px; 
    flex: 1; 
}


img {
    width: 300px;
    height: auto;
    object-fit: cover; 
    border-radius: 20px; 
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animation au survol */
}

img:hover {
    transform: scale(1.05); 
}
.bouton {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100px; 
}
.bouton-reservation {
    background-color: #69645a77;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    display: inline-block;
    text-align: center;
    margin: 20px 0;
}

.bouton-reservation:hover {
    background-color: #a9a25397;
    transform: scale(1.05);
}

.bouton-reservation:active {
    background-color: #004085;
    transform: scale(0.98);
}
/* Section Anecdotes */
.anecdotes {
    background-color: rgba(0, 0, 0, 0.8); /* Fond semi-transparent noir */
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    text-align: left;
}

.anecdotes h2 {
    font-size: 2rem;
    color: #ffffff;
    text-align: center;
    margin-bottom: 15px;
    text-transform: uppercase;
    border-bottom: 2px solid #e63946;
    display: inline-block;
    padding-bottom: 5px;
}

.anecdotes ul {
    list-style-type: disc;
    margin: 20px 0;
    padding-left: 20px;
}

.anecdotes li {
    font-size: 1.1rem;
    color: #ffffff;
    margin-bottom: 10px;
    line-height: 1.8;
    position: relative;
    padding-left: 25px;
}

.anecdotes li::before {
    content: '✓'; /* Ajout d'une coche avant chaque élément */
    position: absolute;
    left: 0;
    color: #6ae639; /* couleur encoche */
    font-size: 1.2rem;
}

/* Section Expériences */
.experiences {
    background-color: rgba(0, 0, 0, 0.8); /* Fond semi-transparent noir */
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
}

.experiences h2 {
    font-size: 2rem;
    color: #ffffff;
    text-align: center;
    margin-bottom: 15px;
    text-transform: uppercase;
    border-bottom: 2px solid #007bff;
    display: inline-block;
    padding-bottom: 5px;
}

.experiences article {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 8px;
}

.experiences h3 {
    font-size: 1.5rem;
    color: #000000;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

.experiences p {
    font-size: 1rem;
    color: #555;
    line-height: 1.6; /* Hauteur de ligne */
}

/* Effets interactifs */
.anecdotes li:hover, .experiences article:hover {
    background-color: #f1f1f1;
    transition: background-color 0.3s ease; /* Transition douce */
}

.experiences h3:hover {
    color: #e63946;
    cursor: pointer;
}

/* Responsive Design */
@media (max-width: 768px) {
    .anecdotes, .experiences {
        width: 90%;
    }

    .anecdotes h2, .experiences h2 {
        font-size: 1.8rem;
    }

    .anecdotes li, .experiences p {
        font-size: 1rem;
    }

    .experiences h3 {
        font-size: 1.3rem; /* Réduire la taille */
    }
}


/* Footer */
footer {
    background-color: rgb(98, 98, 133);
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

footer a {
    text-decoration: none;
    color: #007BFF;
}

footer a:hover {
    text-decoration: underline;  /* Souligner les liens au survol */
}

footer p {

color: #f1f1f1;
}

footer .logor img {
    width: 50px; 
    
  
height: 50px; 
    object-fit: contain; 
    margin: 5px; 
}
footer .logoinsta img {

width: 70px; /* Taille logo */
height: 70px;

}






